         .carousel {
            display: flex;
            overflow: hidden;
            width: 700px; /* Set the width of your carousel */
            margin: auto;
        }

        .carousel-container {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }

        button {
            cursor: pointer;
        }